@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #fff;
}
.hero img {
  height: 65vh;
}

.heading-container {
  height: 90vh;
  top: -50px;
}

.it-works {
  height: 181px;
}
.about-us {
  height: 45vh;
}
.about-image {
  width: 590px;
  height: 381px;
}

.employer-section {
  background: #e5e5e5;
}

.job-card {
  height: 150vh;
}

@media screen and (max-width: 768px) {
  /* .hero img {
    height: 100vh;
  } */
  .heading-container {
    height: 140vh;
    top: -50px;
  }
  .it-works {
    height: 500px;
  }
  .about-us {
    height: 45vh;
  }
}
